.rooms-index {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: rgba(222, 75, 75, 0.2);
  .message-users {
    h2 {
      text-align: center;
    }
    .message-user {
      background-color: white;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 20px;
      border: 3px solid rgba(222, 75, 75, 1);
      .link {
        text-decoration: none;
        display: block;
        .icon {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          object-fit: cover;
        }
        .user-name {
          font-size: 20px;
          color: black;
        }
      }
      .link:hover {
        background-color: rgba(222, 75, 75, 0.1);
      }
    }
  }
}
