.rooms-show {
  padding-top: 100px;
  background-color: rgba(222, 75, 75, 0.2);
  .messages-field {
    background-color: #7494c0;
    // margin-top: 30px;
    padding-bottom: 20px;
    margin: 20px;
    // border-radius: 20px;
    border: 3px solid rgba(222, 75, 75, 1);
    .your-name-block {
      .message-user {
        text-align: center;
        padding: 20px 0;
        margin-bottom: 30px;
        background-color: #273246;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
    .message-block {
      padding: 0 20px;
      .my-messages {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 15px;
        .my-message-block {
          // border: 2px solid black;
          background-color: #8de055;
          padding: 10px;
          border-radius: 20px;
          max-width: 60%;
          .my-message {
            float: right;
          }
          .send-time {
            float: right;
          }
        }
        .icon {
          margin-left: 10px;
        }
      }
      .your-messages {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .icon {
          margin-right: 10px;
        }
        .your-message-block {
          // border: 2px solid black;
          background-color: white;
          padding: 10px;
          border-radius: 20px;
          max-width: 60%;
        }
      }
      .icon-link {
        text-decoration: none;
      }
      .icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
      .send-time {
        font-size: 13px;
      }
    }
    .message-submit-field {
      margin-top: 30px;
      padding: 0 20px;
      .message-submit-block {
        display: inline-block;
        width: 92%;
      }
    }
  }
}
