.likes-liked_posts {
  .index-field {
    padding-top: 100px;
    background-color: rgba(221, 53, 69, 0.1);
    h2 {
      margin: 0 auto;
    }
    .post-field {
      background-color: white;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 30px;
      border-radius: 20px;
      // border: 3px solid rgba(221, 53, 69, 1);
      .post-time {
        margin-bottom: 5px;
      }
      .my-block {
        padding-bottom: 5px;
        margin-bottom: 20px;
        border-bottom: 2px solid rgba(221, 53, 69, 1);
        .user-icon {
          text-decoration: none;
        }
        .icon {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        .user {
          color: black;
          font-size: 20px;
          font-weight: bold;
          // text-decoration: none;
          border-bottom: 1px solid black;
        }
        .user:hover {
          color: rgba(221, 53, 69, 1);
          border-bottom: 1px solid rgba(221, 53, 69, 1);
        }
      }
      .post-block {
        display: flex;
        // padding-left: 30px;
        .field {
          .meat-image {
            width: 450px;
          }
        }
        .first-block {
          padding-left: 30px;
          padding-right: 100px;
          .restaurant-field {
            padding-bottom: 20px;
            .restaurant-name {
              color: rgba(221, 53, 69, 1);
              font-size: 25px;
              font-weight: bold;
              margin-left: 16px;
              border-bottom: 1px solid rgba(221, 53, 69, 1);
            }
          }
        }
        .second-block {
          .field {
            padding-bottom: 15px;
            .title {
              font-size: 18px;
            }
          }
          .reputation-field {
            padding-bottom: 30px;
          }
          .posts-show-like {
            // display: flex;
            // justify-content: flex-end;
            .number-likes {
              color: black;
              border-bottom: 1px solid black;
              // font-size: 18px;
            }
            .number-likes:hover {
              color: rgba(221, 53, 69, 1);
              border-bottom: 1px solid rgba(221, 53, 69, 1);
            }
            .posts-show-like-icon {
              display: flex;
              align-items: flex-end;
              padding-top: 10px;
              .icon-link {
                text-decoration: none;
              }
              .icon {
                color: rgba(221, 53, 69, 1);
                font-size: 20px;
              }
              // .icon:hover {
              //   color: rgba(221, 53, 69, 1);
              // }
              .likes-count {
                padding-right: 20px;
              }
            }
          }
        }
      }
    }
  }
}
