<div class="rooms-show">
  <div class="container">
    <div class="row">
      <div class="col-md-2">

      </div>

      <div class="col-md-8">
        <div class="messages-field">
          <div class="your-name-block">
            <% @entries.each do |e| %>
              <% unless user_signed_in? && current_user.id == e.user_id %>
                <h4 class="message-user"><strong><a href="/users/<%= e.user.id %>"><%= e.user.name %></a></strong></h4>
              <% end %>
            <% end %>
          </div>
          <div id="message-block-js">
            <%= render partial: 'chat', locals: { messages: @messages } %>
          </div>
          <div class="message-submit-field">
            <div id="sends_buttons">
              <%= render partial: 'send', locals: { message: @message } %>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-2">

      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    $("#message-block-js").animate({ scrollTop: $("#message-block-js")[0].scrollHeight}, "slow");
    $("#message_btn").click(function(){
      $("#message-block-js").animate({ scrollTop: $("#message-block-js")[0].scrollHeight}, "slow");
    })
  });
</script>
