/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


// @import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';


body {
  font-family: 'Kosugi', sans-serif;
}

header {
  font-family: 'Francois One', 'Kosugi', sans-serif;
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #dc3545 !important;
    .border_bottom_btn {
      font-size: 30px;
      padding: 0px !important;
      letter-spacing: -1px;
      position: relative;
      display: inline-block;
      color: #fff !important;
      text-decoration: none; 
    }
    .border_bottom_btn:hover {
      cursor: pointer;
      text-decoration: none;
    }
    .border_bottom_btn::after {
      position: absolute;
      bottom: -4px;
      left: 0;
      content: '';
      width: 100%;
      height: 2.5px;
      background: #fff;
      opacity: 0;
      visibility: hidden;
      transition: .3s;
    }
    .border_bottom_btn:hover::after {
      bottom: 0px;
      opacity: 1;
      visibility: visible;
    }
    .bottom_btn {
      font-size: 30px;
      padding: 0px !important;
      letter-spacing: -1px;
      position: relative;
      display: inline-block;
      color: #fff !important;
      text-decoration: none;
    }
    .navbar-collapse {
      .navbar-nav {
        .search-btn {
          color: white;
          font-size: 17px;
          font-weight: bold;
          background: none;
          border: 1px solid white;
          cursor: pointer;
          transition: .5s;
          margin-right: 10px;
        }
        .search-btn:hover {
          color: #dc3545;
          background-color: white;
        }
        .user-info {
          display: flex;
          align-items: center;
          .user-name {
            margin-left: 0;
            padding-left: 0;
          }
        }
      }
    }
    .border_slide_btn {
      font-size: 17px;
      font-weight: bold;
      position: relative;
      display: inline-block;
      color: #fff !important;
      text-decoration: none;
      margin: 5px;
      padding: 3px 5px !important;
    }
    .border_slide_btn:hover {
      cursor: pointer;
      text-decoration: none;
    }
    .border_slide_btn::after {
      position: absolute;
      bottom: 0px;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background: #fff;
      transform: scale(0, 1);
      transform-origin: right top;
      transition: transform .3s;
    }
    .border_slide_btn:hover::after {
      transform-origin: left top;
      transform: scale(1, 1);
    }
    .modal-new {
      cursor: pointer;
    }
    .user-icon {
      color: white !important;
      padding-right: 0 !important;
    }
    .icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.syosai {
  font-size: 18px;
  padding: 1px 5px;
  color: #dc3545;
  border: 1px solid rgba(221, 53, 69, 1);
  border-radius: 5px;
}
.syosai:hover {
  color: white;
  background-color: #dc3545;
  text-decoration: none;
  transition: .3s;
}

.pagenation {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
footer {
  height: 5vh;
  background-color: #dc3545;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: rgb(231, 231, 231);
    font-size: 14px;
    margin-bottom: 0;
  }
}









@media screen and (min-width: 681px){
  header {
    .navbar {
      height: 8vh;
      .navbar-collapse {
        display: flex;
        justify-content: flex-end;
        .navbar-nav {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}












@media screen and (max-width: 680px){
  header {

  }
}