// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.circle-image {
  padding-bottom: 10px;
  img {
   margin-bottom: 10px;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   object-fit: cover;
 }
}








.users-sessions-new {
  color: white;
  background: image-url("/top.png");
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 167px;
  // height: 95vh;
  .login-block {
    .login {
      font-weight: bold;
      text-align: center;
      padding-bottom: 10px;
    }
    .field {
      padding-bottom: 10px;
      .form {
        color: white;
        font-size: 25px;
        background: transparent;
        border: transparent;
        border-bottom: 2px solid white;
        width: 100%;
      }
    }
    .actions {
      .btn {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
}






.users-registrations-new {
  color: white;
  background: image-url("/top.png");
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 150px;
  // height: 95vh;
  .sign-up-block {
    .sign-up {
      font-weight: bold;
      text-align: center;
      padding-bottom: 10px;
    }
    .field {
      padding-bottom: 10px;
      .form {
        color: white;
        font-size: 25px;
        background: transparent;
        border: transparent;
        border-bottom: 2px solid white;
        width: 100%;
      }
    }
    .actions {
      .btn {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
}






.users-registrations-profile_edit {
  color: white;
  background: image-url("/top.png");
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 60px;
  // height: 95vh;
  .profile-block {
    border-radius: 20px;
    padding: 20px;
    .field {
      padding-bottom: 10px;
      .form {
        color: white;
        font-size: 20px;
        background: transparent;
        border: 1.5px solid white;
        width: 100%;
      }
      .name-field {
        width: 50%;
        border: transparent;
        border-bottom: 1.5px solid white;
      }
    }
  }
}






.users-show {
  background-color: rgba(222, 75, 75, 0.1);
  padding-top: 100px;
  .profile {
    .icon {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .post-field {
    background-color: white;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 20px;
    .my-block {
      padding-bottom: 5px;
      margin-bottom: 20px;
      border-bottom: 1px solid rgb(222, 75, 75);
    }
    .post-block {
      display: flex;
      .field {
        .meat-image {
          width: 500px;
        }
      }
      .first-block {
        padding-right: 100px;
        .restaurant-field {
          padding-bottom: 20px;
          .restaurant-name {
            color: rgb(222, 75, 75);
            font-size: 25px;
          }
        }
      }
      .second-block {
        .field {
          padding-bottom: 10px;
          .title {
            font-size: 18px;
          }
        }
      }
    }
  }
}








.users-shared-links {
  .links {
    color: white;
  }
  .facebook-login {
    color: white;
    background-color: #4267b2;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .facebook-login:hover {
    background-color: #29487d;
  }
}
