// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.circle-image {
  padding-bottom: 10px;
  img {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
}
