.users-registrations-new {
  color: white;
  background: image-url("/top.png");
  background-size: cover;
  padding-top: 200px;
  // padding-bottom: 150px;
  height: 95vh;
  .sign-up-block {
    .sign-up {
      font-weight: bold;
      text-align: center;
      padding-bottom: 10px;
    }
    .field {
      padding-bottom: 10px;
      .form {
        color: white;
        font-size: 25px;
        background: transparent;
        border: transparent;
        border-bottom: 2px solid white;
        width: 100%;
      }
    }
    .actions {
      .btn {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
}
