.users-registrations-profile_edit {
  color: white;
  background: image-url("/top.png");
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 60px;
  height: 95vh;
  .profile-block {
    border-radius: 20px;
    padding: 20px;
    .field {
      padding-bottom: 10px;
      .form {
        color: white;
        font-size: 20px;
        background: transparent;
        border: 1.5px solid white;
        width: 100%;
      }
      .name-field {
        width: 60%;
        border: transparent;
        border-bottom: 1.5px solid white;
      }
      .form-control {
        height: 150px;
      }
    }
  }
}
