.users-registrations-new {
  color: white;
  background: image-url("/top.png");
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 200px;
  .sign-up-block {
    .sign-up {
      font-weight: bold;
      text-align: center;
      padding-bottom: 10px;
    }
    .field {
      padding-bottom: 10px;
      .form {
        color: white;
        font-size: 25px;
        background: transparent;
        border: transparent;
        border-bottom: 2px solid white;
        width: 100%;
      }
    }
    .actions {
      .btn {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
}

@media screen and (min-width: 681px) {
  .users-registrations-new {
  padding-top: 200px;
  }
}

@media screen and (max-width: 680px) {
  .users-registrations-new {
    padding-top: 100px;
  }
}