.users-shared-links {
  // text-align: center;
  .sns-login {
    width: 55%;
    .facebook-login {
      color: white;
      width: 100%;
      background-color: #4267b2;
      text-decoration: none;
      padding: 10px 0 10px 15px;
      border-radius: 5px;
      margin-bottom: 10px;
      margin-top: 5px;
    }
    .facebook-login:hover {
      background-color: #29487d;
      transition: .3s;
    }
    .twitter-login {
      width: 100%;
      color: white;
      background-color: #1da1f2;
      text-decoration: none;
      padding: 10px 0 10px 15px;
      border-radius: 5px;
      margin-bottom: 5px;
    }
    .twitter-login:hover {
      background-color: #2786d4;
      transition: .3s;
    }
  }
  .links {
    color: white;
  }
}
