.posts-index {
  .new-field {
    #post_img {
      margin-bottom: 10px;
    }
    #image_prev {
      width: 400px;
      margin-bottom: 10px;
    }
    .form {
      width: 80%;
    }
    .form-control {
      height: 150px;
    }
  }
  .top-image {
    background: image-url("/top.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    .top-block {
      width: 43%;
      color: white;
      padding-top: 35vh;
      text-align: center;
      h1 {
        font-family: 'Francois One', sans-serif;
        font-size: 85px;
        background-color: rgba(221, 53, 69, 0.8);
        margin-bottom: 0;
        padding-top: 7vh;
        // padding-bottom: 10px;
        letter-spacing: -1px;
      }
      p {
        font-size: 22px;
        margin-bottom: 50px;
        background-color: rgba(221, 53, 69, 0.8);
        padding-bottom: 8vh;
        letter-spacing: -1px;
      }
    }
  }
  // .icon-image {
  //   width: 200px;
  //   height: 200px;
  //   //サイズ指定
  //   border-radius: 100px;
  //   //画像を丸くする
  //   object-fit: cover;
  //   //タテヨコ比を変えないままトリミング
  // }
  .index-field {
    background-color: rgba(221, 53, 69, 0.1);
    .post-field {
      background-color: white;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 20px;
      padding: 30px;
      border-radius: 20px;
      // border: 3px solid rgba(221, 53, 69, 1);
      .post-time {
        margin-bottom: 5px;
      }
      .my-block {
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 2px solid rgba(221, 53, 69, 1);
        .user-icon {
          text-decoration: none;
        }
        .icon {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        .user {
          color: black;
          font-size: 20px;
          font-weight: bold;
          // text-decoration: none;
          border-bottom: 1px solid black;
        }
        .user:hover {
          color: rgba(221, 53, 69, 1);
          border-bottom: 1px solid rgba(221, 53, 69, 1);
        }
      }
      .post-block {
        display: flex;
        // padding-left: 10px;
        .field {
          .meat-image {
            width: 450px;
          }
        }
        .first-block {
          padding-left: 30px;
          padding-right: 100px;
          .restaurant-field {
            padding-bottom: 20px;
            .restaurant-name {
              color: rgba(221, 53, 69, 1);
              font-size: 25px;
              font-weight: bold;
              padding-left: 16px;
            }
          }
        }
        .second-block {
          padding-left: 50px;

          .field {
            padding-bottom: 15px;
            .title {
              font-size: 18px;
            }
          }
          .reputation-field {
            padding-bottom: 30px;
          }

          .posts-show-like {
            // display: flex;
            // justify-content: flex-end;
            .number-likes {
              color: black;
              border-bottom: 1px solid black;
              // font-size: 18px;
            }
            .number-likes:hover {
              color: rgba(221, 53, 69, 1);
              border-bottom: 1px solid rgba(221, 53, 69, 1);
            }
            .posts-show-like-icon {
              display: flex;
              align-items: flex-end;
              padding-top: 10px;
              .icon-link {
                text-decoration: none;
              }
              .icon {
                color: rgba(221, 53, 69, 1);
                font-size: 20px;
              }
              // .icon:hover {
              //   color: rgba(221, 53, 69, 1);
              // }
              .likes-count {
                padding-right: 20px;
              }
            }
          }
        }
      }
    }
  }
}
