.posts-index {
  .new-field {
    #post_img {
      margin-bottom: 10px;
    }
    #image_prev {
      width: 100%;
      margin-bottom: 10px;
    }
    .form {
      width: 80%;
    }
    .form-control {
      height: 150px;
    }
  }
  .top-image {
    background: image-url("/top.png");
    background-size: cover;
    background-attachment: fixed;
    .top-block {
      h1 {
        font-family: 'Francois One', sans-serif;
        background-color: rgba(221, 53, 69, 0.8);
        margin-bottom: 0;
        padding-top: 7vh;
        letter-spacing: -1px;
        text-shadow: 5px 5px 1px rgba( 0, 0, 0, .7 );
      }
      p {
        margin-bottom: 50px;
        background-color: rgba(221, 53, 69, 0.8);
        padding-bottom: 8vh;
        letter-spacing: -1px;
        text-shadow: 5px 5px 1px rgba( 0, 0, 0, .7 );
      }
    }
  }
  .index-field {
    background-color: rgba(221, 53, 69, 0.1);
    .non-post {
      text-align: center;
      font-size: 30px;
      margin-top: 40px;
    }
    .post-field {
      background-color: white;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 20px;
      border-radius: 10px;
      box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, .5);
      .post-time {
        margin-bottom: 5px;
      }
      .my-block {
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 2px solid rgba(221, 53, 69, 1);
        .user-icon {
          text-decoration: none;
        }
        .icon {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        .user {
          color: black;
          font-size: 20px;
          font-weight: bold;
          border-bottom: 1px solid black;
        }
        .user:hover {
          color: rgba(221, 53, 69, 1);
        }
      }
      .post-block {
        .field {
          .meat-image {
            width: 100%;
          }
        }
        .first-block {
          
          .restaurant-field {
            padding-bottom: 20px;
            .restaurant-name {
              color: rgba(221, 53, 69, 1);
              font-size: 25px;
              font-weight: bold;
              margin-left: 16px;
              border-bottom: 1px solid rgba(221, 53, 69, 1);
            }
          }
        }
        .second-block {
          

          .field {
            padding-bottom: 15px;
            .title {
              font-size: 18px;
            }
          }
          .reputation-field {
            padding-bottom: 30px;
          }

          .posts-show-like {
            .number-likes {
              color: black;
              border-bottom: 1px solid black;
            }
            .number-likes:hover {
              color: rgba(221, 53, 69, 1);
              border-bottom: 1px solid rgba(221, 53, 69, 1);
            }
            .posts-show-like-icon {
              display: flex;
              align-items: flex-end;
              padding-top: 10px;
              .icon-link {
                text-decoration: none;
              }
              .icon {
                color: rgba(221, 53, 69, 1);
                font-size: 20px;
              }
              .likes-count {
                padding-right: 20px;
              }
            }
          }
        }
      }
    }
  }
}









@media screen and (min-width: 681px){
  .posts-index {
    .top-image {
      height: 100vh;
      .top-block {
        width: 43%;
        color: white;
        padding-top: 35vh;
        text-align: center;
        h1 {
        font-size: 85px;
        }
        p {
        font-size: 22px;
        }
      }
    }
    .index-field {
      .post-field {
        padding: 30px;
        .post-block {
          display: flex;
          .first-block {
            padding-left: 30px;
            padding-right: 50px;
          }
          .second-block {
            padding-left: 50px;
          }
        }
      }
    }
  }
}








@media screen and (max-width: 680px){
  .posts-index {
    .top-image {
      height: 50vh;
      .top-block {
        width: 100%;
        color: white;
        padding-top: 15vh;
        text-align: center;
        h1 {
          font-size: 55px;
          }
          p {
          font-size: 13px;
          }
      }
    }
    .index-field {
      .post-field {
        padding: 10px;
        .post-block {
          .first-block {
            margin-bottom: 15px;
          }
          .second-block {

          }
        }
      }
    }
  }
}